#stockSection {
    display: grid;
    width: 100%;

    place-items: center;
    gap: 1rem;

    .stockContainer {
        width: 100%;
        display: grid;
        padding: 2vh 4rem;

        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

        gap: 4rem;
    }

    .paginationContainer {
        padding: 1rem;

        button {
            margin-inline: 1rem;
            cursor: pointer;

            transition: all 0.2s ease;

            &:hover,
            &:focus-visible {
                transform: scale(1.25);
            }
        }

        .currentPage {
            position: relative;
            width: max-content;
            color: var(--clr-red);

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: var(--clr-red);
            }
        }
    }
}