#productCard {
    position: relative;
    display: grid;
    margin: 0 auto;
    padding: 2rem;
    
    border: 1px solid #000;

    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    
    .image_container {
        width: 80%;
        height: 100%;
    }

    .description_container {
        display: grid;
        padding: 2rem 2rem 0 2rem;

        place-items: center;
        gap: 1rem;

        & > * {
            font-family: var(--ff-montserrat);
        }

        .productTitle {
            font-size: 1.25rem;
        }
    
        .productPrice {
            font-size: 1rem;
        }
    
        .productSeller {
            font-size: 1rem;
        }
    }
}