p.mainLogo {
  top: 0;
  left: 19.54vw;
  width: 42.45vw;
  height: 27.7vh;
  margin-left: 27%;
  text-align: center;
  font-size: 10.4vw;
  letter-spacing: 0;
  opacity: 1;
  z-index: 2;
}

.carouselCaption h3 {
color: wheat;
}
.carouselCaption p {
  color: wheat;
}