@media (max-width: 1200px) {
    #stockSection {
        grid-template-columns: repeat(3, 1fr);
    }

    #loginPage #loginContainer {
        width: 50%;
        height: 85%;

        #loginForm {
            width: 25%;
        }
    }
}