@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --clr-cyan: #006d77;
  --clr-red: #df2935;
  --clr-yellow: #ead637;
  --clr-white: #fffcff;
  --clr-darkgray: #474044;
  --ff-montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-darkgray);
  font-family: var(--ff-montserrat);
}

html {
  width: 100%;
  height: 100%;
}

body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
}

#productCard {
  position: relative;
  display: grid;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--clr-darkgray);
  border-radius: 5px;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}
#productCard .image_container {
  width: 80%;
  height: 100%;
}
#productCard .description_container {
  display: grid;
  padding: 2rem 2rem 0 2rem;
  place-items: center;
  gap: 1rem;
}
#productCard .description_container .productTitle {
  font-size: 1.25rem;
}
#productCard .description_container .productPrice {
  font-size: 1rem;
}
#productCard .description_container .productSeller {
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100vw;
  height: 11.57vh;
  top: 0;
  background-color: #FFFCFF;
  display: flex;
}
#navbar a {
  text-decoration: none;
  color: #474044;
}
#navbar #navLeft {
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  place-items: center;
  position: relative;
  left: 3%;
}
#navbar #navLeft #navHome {
  font-size: 2vw;
  font-weight: bold;
}
#navbar #navRight {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  position: absolute;
  width: 40%;
  height: 11.57vh;
  right: 2.5%;
}
#navbar #navRight .navRight {
  font-size: 1.25vw;
}
#navbar #navRight #navSearchInput {
  height: 3vh;
  font-size: 1vw;
}

#stockSection {
  width: 100%;
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginPage #loginContainer {
  width: 30%;
  height: 95%;
  border-radius: 36px;
  border: 1px solid #474044;
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}
#loginPage #loginContainer #loginLogo {
  position: relative;
  font-size: 6vw;
  z-index: 1;
}
#loginPage #loginContainer #loginLogoCropped {
  position: relative;
  z-index: 0;
  font-size: 14.5vw;
  width: 50vw;
  overflow-x: hidden;
  color: #FFFCFF;
  -webkit-text-stroke: 1px #474044;
}
#loginPage #loginContainer #loginForm {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 42.5%;
  width: 18%;
}
#loginPage #loginContainer #loginForm input {
  height: 5vh;
  font-size: 1rem;
}
#loginPage #loginContainer #loginForm #loginFormButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#loginPage #loginContainer #loginForm #loginFormButtonContainer button {
  width: 45%;
  height: 5vh;
  font-size: 1rem;
  border-radius: 11px;
}
#loginPage #loginContainer #passwordReset {
  font-size: 1.15rem;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #loginPage #loginContainer {
    width: 50%;
    height: 85%;
  }
}
@media (max-width: 1150px) {
  #stockSection {
    grid-template-columns: repeat(3, 1fr);
  }

  #loginPage #loginContainer #loginForm {
    width: 25%;
  }
}
@media (max-width: 875px) {
  #stockSection {
    grid-template-columns: 1fr 1fr;
  }

  #loginPage #loginContainer {
    width: 60%;
    height: 70%;
  }

  #loginPage #loginContainer #loginForm {
    width: 33%;
  }
}
@media (max-width: 640px) {
  #stockSection {
    grid-template-columns: 1fr;
  }

  #loginPage #loginContainer {
    width: 70%;
    height: 70%;
  }

  #loginPage #loginContainer #loginForm {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
