@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --clr-cyan: #006d77;
  --clr-red: #df2935;
  --clr-yellow: #ead637;
  --clr-white: #fffcff;
  --clr-darkgray: #474044;
  --ff-montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-darkgray);
  font-family: var(--ff-montserrat);
}

html {
  width: 100%;
  height: 100%;
}

body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
}

#productCard {
  position: relative;
  display: grid;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--clr-darkgray);
  border-radius: 5px;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}
#productCard .image_container {
  width: 80%;
  height: 100%;
}
#productCard .description_container {
  display: grid;
  padding: 2rem 2rem 0 2rem;
  place-items: center;
  gap: 1rem;
}
#productCard .description_container .productTitle {
  font-size: 1.25rem;
}
#productCard .description_container .productPrice {
  font-size: 1rem;
}
#productCard .description_container .productSeller {
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100vw;
  height: 11.57vh;
  top: 0;
  background-color: #FFFCFF;
  display: flex;
}
#navbar a {
  text-decoration: none;
  color: #474044;
}
#navbar #navLeft {
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  place-items: center;
  position: relative;
  left: 3%;
}
#navbar #navLeft #navHome {
  font-size: 2vw;
  font-weight: bold;
}
#navbar #navRight {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  position: absolute;
  width: 40%;
  height: 11.57vh;
  right: 2.5%;
}
#navbar #navRight .navRight {
  font-size: 1.25vw;
}
#navbar #navRight #navSearchInput {
  height: 3vh;
  font-size: 1vw;
}

footer {
  position: relative;
  width: 100vw;
  height: 11.57vh;
  bottom: 0;
  margin-top: 30px;
  background-color: #FFFCFF;
}
footer a {
  text-decoration: none;
  color: #474044;
}
footer #footerAbove {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  width: 100%;
}
footer #footerBelow {
  position: relative;
  margin-top: 20px;
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
}

#stockSection {
  width: 100%;
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#loginPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#loginPage #loginContainer {
  display: flex;
  width: 30%;
  height: 95%;
  border-radius: 36px;
  border: 1px solid #474044;
  flex-direction: column;
  place-items: center;
  text-align: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}
#loginPage #loginContainer #loginLogo {
  position: relative;
  font-size: 6vw;
  z-index: 1;
}
#loginPage #loginContainer #loginLogoCropped {
  position: relative;
  width: 50vw;
  font-size: 14.5vw;
  color: #FFFCFF;
  -webkit-text-stroke: 1px #474044;
  overflow-x: hidden;
  z-index: 0;
}
#loginPage #loginContainer #loginForm {
  position: absolute;
  display: flex;
  height: 42.5%;
  width: 18%;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
}
#loginPage #loginContainer #loginForm input {
  height: 5vh;
  font-size: 1rem;
}
#loginPage #loginContainer #loginForm #loginFormButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#loginPage #loginContainer #loginForm #loginFormButtonContainer button {
  width: 45%;
  height: 5vh;
  font-size: 1rem;
  border-radius: 11px;
}
#loginPage #loginContainer #passwordReset {
  font-size: 1.15rem;
  text-decoration: none;
}

#suPage {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}
#suPage .suContainer {
  display: grid;
  width: 40%;
  height: 98%;
  padding: 2rem 0;
  grid-template-rows: 0.25fr 0.75fr;
  place-items: center;
  gap: 2rem;
  border: 1px solid var(--clr-darkgray);
  border-radius: 18px;
}
#suPage .suContainer .suLogoCropped {
  font-size: 3.75rem;
  color: var(--clr-white);
  -webkit-text-stroke: 1px var(--clr-darkgray);
}
#suPage .suContainer .suForm {
  display: grid;
  gap: 2rem;
  place-items: center;
}
#suPage .suContainer .suForm .suBtn {
  width: 60%;
  padding: 0.5rem;
  color: var(--clr-darkgray);
  font-size: 1.1rem;
  background: var(--clr-white);
  border: 1px solid var(--clr-darkgray);
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}
#suPage .suContainer .suForm .suBtn:hover, #suPage .suContainer .suForm .suBtn:focus-visible {
  color: var(--clr-white);
  background: var(--clr-cyan);
  border-color: var(--clr-white);
  cursor: pointer;
}
#suPage .suContainer .suForm .suInput {
  display: grid;
  gap: 0.25rem;
}
#suPage .suContainer .suForm .suInput > * {
  font-size: 1rem;
}
#suPage .suContainer .suForm .suInput label {
  font-size: 1.1rem;
  font-weight: 600;
}
#suPage .suContainer .suForm .suInput label span {
  color: var(--clr-red);
}
#suPage .suContainer .suForm .suInput input {
  width: 100%;
  padding: 0.25rem;
}

p.mainLogo {
  top: 0;
  left: 19.54vw;
  width: 42.45vw;
  height: 27.7vh;
  margin-left: 27%;
  text-align: center;
  font-size: 10.4vw;
  letter-spacing: 0;
  opacity: 1;
  z-index: 2;
}

.carouselCaption h3 {
  color: wheat;
}

.carouselCaption p {
  color: wheat;
}

#productPage {
  width: 100vw;
  height: 76.86vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
#productPage #productPageLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#productPage #productPageLeft #productImage {
  width: 60%;
  height: 60%;
}
#productPage #productPageRight {
  width: 40%;
  margin-right: 8%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  font-size: 2.5vh;
}
#productPage #productPageRight .productPageBold {
  font-weight: bold;
}
#productPage #productPageRight #productPriceStatistics {
  display: flex;
  border: 1px solid #474044;
  width: 50%;
  height: 25%;
  justify-content: center;
  align-items: center;
}
#productPage #productPageRight #productPageAddToCart {
  width: 20vh;
  height: 10%;
  margin-left: 75%;
  margin-right: 25%;
  font-size: 2vh;
}

#checkoutPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#checkoutPage #checkoutTitle {
  font-size: 3.75rem;
  color: var(--clr-white);
  -webkit-text-stroke: 1px var(--clr-darkgray);
}
#checkoutPage #checkoutForm {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#checkoutPage #checkoutForm .checkoutFormRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#checkoutPage #checkoutForm .checkoutFormRow .checkoutFormUnit {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-weight: bold;
}
#checkoutPage #checkoutForm .checkoutFormRow button {
  width: 25%;
  border-radius: 11px;
}

@media (max-width: 1200px) {
  #stockSection {
    grid-template-columns: repeat(3, 1fr);
  }

  #loginPage #loginContainer {
    width: 50%;
    height: 85%;
  }
  #loginPage #loginContainer #loginForm {
    width: 25%;
  }
}
@media (max-width: 875px) {
  #stockSection {
    grid-template-columns: 1fr 1fr;
  }

  #loginPage #loginContainer {
    width: 60%;
    height: 70%;
  }

  #loginPage #loginContainer #loginForm {
    width: 33%;
  }

  #suPage .suContainer {
    width: 50%;
  }
}
@media (max-width: 640px) {
  #stockSection {
    grid-template-columns: 1fr;
  }

  #loginPage #loginContainer {
    width: 70%;
    height: 70%;
  }

  #loginPage #loginContainer #loginForm {
    width: 50%;
  }

  #suPage .suContainer {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
