#productPage {
    display: grid;
    width: 100%;
    padding: 1rem;
    align-items: center;

    grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;

    .productPageLeft {
        grid-column: 2 / 3;
        display: flex;

        justify-content: center;
        align-items: center;

        .productImage {
            padding: 5%;
            width: 50%;
        }
    }

    .productPageRight {
        grid-column: 3 / 4;

        padding: 0 5%;
        font-size: 1vw;

        .productPageBold {
            font-weight: bold;
        }

        .productPriceStatistics {
            display: grid;
            width: 50%;
            height: 8rem;
            place-items: center;

            border: 1px solid var(--clr-darkgray);
        }

        .productPageAddToCart {
            width: 25%;
            margin-left: 75%;
            font-size: 2vh;
            background: var(--clr-white);
        }
    }
}