#productPage {
    width: 100vw;
    height: 76.86vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    #productPageLeft {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        #productImage {
            width: 60%;
            height: 60%;
        }
    }

    #productPageRight {
        width: 40%;
        margin-right: 8%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
        font-size: 2.5vh;


        .productPageBold {
            font-weight: bold;
        }

        #productPriceStatistics {
            display: flex;
            border: 1px solid #474044;
            width: 50%;
            height: 25%;
            justify-content: center;
            align-items: center;
        }

        #productPageAddToCart {
            width: 20vh;
            height: 10%;
            margin-left: 75%;
            margin-right: 25%;
            font-size: 2vh;
        }
    }

}