#loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #loginContainer {
    width: 30%;
    height: 95%;
    border-radius: 36px;
    border: 1px solid #474044;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    overflow-x: hidden;

    #loginLogo {
      position: relative;
      margin-top: 15%;
      font-size: 15vh;
      z-index: 1;
    }

    #loginLogoCropped {
      margin-top: -25%;
      position: relative;
      z-index: 0;
      font-size: 32vh;
      width: 50vw;
      overflow-x: hidden;
      color: #FFFCFF;
      -webkit-text-stroke: 1px #474044;
    }

    #loginForm {
      margin-top: 15%;
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 42.5%;
      width: 18%;

      input {
        height: 5vh;
        font-size: 2.25vh;
      }

      #loginFormButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
          width: 45%;
          height: 5vh;
          font-size: 2.25vh;
          border-radius: 11px;
        }
      }
    }

    #passwordReset {
      margin-top: 45%;
      font-size: 2.25vh;
      text-decoration: none;
    }
  }
}

